.product-card {
    width: 180px;
    height: 280px;
    border: 1px solid green;
    box-shadow: 17px 19px 24px rgba(0, 148, 200, 0.13);
    text-align: center;
    margin: 20px;
}

.product-card img {
    width: 120px;
}