.form {
    padding: 15px;
    border-top: 1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #0093C4 0%, #0099DF 52.31%, #242424 100%);
}

.input {
    background-color: aqua;
    border-radius: 15px;
    flex-grow: 1;
}

.button {
    background-color: #fafafa;
    color: blue;
    margin-left: 18px;
    border-radius: 10px;
    border: none;
}