.board {
    overflow: auto;
    overflow-x: hidden;
    list-style: none;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.message {
    color: blue;
    background: lavender;
    margin-bottom: 8px;
    padding: 8px 8px;
    width: fit-content;
    max-width: 70%;
    list-style: none;
}

.driveright {
    text-align: right;
}

.driveleft {
    text-align: left;
}